%p#notice= notice

%p
  %b Name:
  = @product.name

- @product.images_urls(:card).each do |mig|
  = image_tag mig if @product.images.any?

%p
  %b Price:
  = @product.price
%p
  %b Origin:
  = @product.origin
%p
  %b Available:
  = @product.available
%p
  %b Season:
  = @product.season
%p
  %b Thread type:
  = @product.thread_type
%p
  %b Desc:
  = @product.desc
%p
  %b Category:
  = @product.category.name

= link_to 'Edit', edit_admin_product_path(@product)
\|
= link_to 'Back', products_path
