<p id="notice">
  <%= notice %>
</p>
<h2>

  <%= @category.name %> : <mark>Category</mark>
</h2>
<p>

  <%= @category.desc %>
</p>
<hr/>
<h2>
  Products Under <mark><%= @category.name %></mark>
</h2>

<div class="category_products">
	<% @category.products.each do | product | %>
  <h4>
    <%= link_to product.name, product_path(product) %>
  </h4>
  <p>
    <%= product.desc %>
  </p>
<% end %>
</div>

<%= link_to 'All Categories', categories_path %>
