%h1 Listing products

%table
  %thead
    %tr
      %th Name
      %th Price
      %th Origin
      %th Available
      %th Season
      %th Thread type
      %th Desc
      %th Category
      %th
     

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.price
        %td= product.origin
        %td= product.available
        %td= product.season
        %td= product.thread_type
        %td= product.desc
        %td= product.category.name
        %td= link_to 'Show', product
     