<article>


<h1> <%= @product.name %> </h1>

<div class="product_imgs">
  <% @product.images_urls(:thumb).each do |mig| %>
  <%= image_tag mig if @product.images.any? %>
<% end %>
</div>
<p><%= @product.desc %></p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>
<p>
  <b>Origin:</b>
  <%= @product.origin %>
</p>
<p>
  <b>Available:</b>
  <%= @product.available %>
</p>
<p>
  <b>Season:</b>
  <%= @product.season %>
</p>
<p>
  <b>Thread type:</b>
  <%= @product.thread_type %>
</p>
<p>
  <b>Category:</b>
  <%= @product.category.name %>
</p>
</article>
<%= link_to 'All Products', products_path %>
